body
{
    background-color: #FEE9E1;
}

h4
{
    font-size: 3em
}

/* For Id */



#title
{
    
    color: #F7F3E3;
    font-size: 5em;
}

#info
{
    font-size: 1.5em;
    color: #F7F3E3;
    
}

#photo
{
    margin-top: 1.2em;
    border-radius: 20%;
    width: 14em
}

#rowone
{
    background:#8D94BA;
    padding-left: 8em;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* For Class */
.row 
{
    font-size: 1em;
    padding-left: 8em;
    padding-right: 8em
}


.text
{
    font-size: 1.5em
}



/* Padding?!*/
/* height: vh100?!*/